<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Coarse is deliberate: city-level accuracy is all Complete Profile needs,
         and it is less invasive than ACCESS_FINE_LOCATION. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".WedoraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wedora"
        android:theme="@style/Theme.Wedora"
        android:supportsRtl="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Wedora.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".CompleteProfileActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileDetailActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".PrivacySafetyActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationsSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".HelpCenterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".PaymentSubscriptionActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".LikesActivity"
            android:exported="false" />

        <activity
            android:name=".ChatsActivity"
            android:exported="false" />

        <activity
            android:name=".ChatThreadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

    </application>

</manifest>
